<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Shots Fired!</title>
	<meta name="description" content="Shots Fired!">
	@Scripts.Render("~/bundles/jquery", "~/bundles/signalr", "~/bundles/phaser", "~/bundles/game")
	<script type="text/javascript" src="~/Game/Client/Main.js"></script>
	<script type="text/javascript" src="~/signalr/hubs"></script>
    <style>
        body {
            padding: 0px;
            margin: 0px;
            background-color: #FFFFFF;
        }
    </style>
</head>
<body>
    <!--><a href="http://www.freepik.com/free-photos-vectors/background">Background vector created by Layerace - Freepik.com</a>-->
	<div id="tanks"></div>
</body>
</html>