@{
	ViewBag.Title = "Tanks!";
}

<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tanks!</title>
	<meta name="description" content="Shots Fired!">
	@Scripts.Render("~/bundles/jquery", "~/bundles/signalr", "~/bundles/phaser", "~/bundles/game");
	<script type="text/javascript" src="~/signalr/hubs"></script>
	<script type="text/javascript" src="~/Client/Main.js"></script>
</head>
<body>
	<div id="tanks"></div>
</body>
</html>